In [2]:
# goal of this python notebook is to explore schedule data
# with csv containing nfl 2017 schedule data

In [3]:
# Dependencies
import pandas as pd
import numpy as np

In [4]:
# where is CSV
nfl_csv = "nfl-schedule-2017.csv"

In [5]:
# Read with pandas
nfl_csv_df = pd.read_csv(nfl_csv, sep='\t', encoding="iso-8859-1", low_memory="False")
nfl_csv_df.head()

,week,team1,team2,home,what row do we find team1 in team2,what is team 2 in the previous row,does team1 in first row = team2 in dup row?,row number
0,1,ARI,DET,False,12,ARI,True,2
1,1,ATL,CHI,False,7,ATL,True,3
2,1,BAL,CIN,False,8,BAL,True,4
3,1,BUF,NYJ,True,25,BUF,True,5
4,1,CAR,SF,False,30,CAR,True,6

In [6]:
# explore columns
nfl_csv_df.columns

Index(['week', 'team1', 'team2', 'home', 'what row do we find team1 in team2',
       'what is team 2 in the previous row',
       'does team1 in first row = team2 in dup row?', 'row number'],
      dtype='object')

In [7]:
# how many games do we have?
len(nfl_csv_df)

544

In [8]:
#number of games including bye weeks
# num of teams * total weeks
32*17

544

In [9]:
#number of games not including bye weeks
# num of teams * (total weeks - 1 bye week)
32*16

512

In [10]:
# teams play each other so it's more like 
# num of teams / 2 * (total weeks - 1 bye week)
32/2*16

256.0

In [11]:
# teams play each other so it's more like 
# num of teams / 2 * total weeks
32/2*17

272.0

In [12]:
nfl_csv_df['week'].value_counts()

17    32
8     32
2     32
3     32
4     32
5     32
6     32
7     32
9     32
16    32
10    32
11    32
12    32
13    32
14    32
15    32
1     32
Name: week, dtype: int64

In [13]:
nfl_csv_df['team1'].value_counts()

PIT    17
NYG    17
MIA    17
IND    17
LAR    17
CIN    17
KC     17
NE     17
DEN    17
DET    17
SF     17
CHI    17
ATL    17
WAS    17
TEN    17
JAC    17
HOU    17
CAR    17
GB     17
BUF    17
TB     17
MIN    17
DAL    17
ARI    17
BAL    17
PHI    17
NYJ    17
CLE    17
NO     17
OAK    17
LAC    17
SEA    17
Name: team1, dtype: int64

In [14]:
weeks = range(1,18)
list(weeks)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [15]:
only_week_1_booleans = nfl_csv_df['week'] == 1
only_week_1_df = nfl_csv_df[only_week_1_booleans]
len(only_week_1_df)

32

In [29]:
only_week_1_df.head(12)

,week,team1,team2,home,what row do we find team1 in team2,what is team 2 in the previous row,does team1 in first row = team2 in dup row?,row number
0,1,ARI,DET,False,12,ARI,True,2
1,1,ATL,CHI,False,7,ATL,True,3
2,1,BAL,CIN,False,8,BAL,True,4
3,1,BUF,NYJ,True,25,BUF,True,5
4,1,CAR,SF,False,30,CAR,True,6
5,1,CHI,ATL,True,3,CHI,True,7
6,1,CIN,BAL,True,4,CIN,True,8
7,1,CLE,PIT,True,28,CLE,True,9
8,1,DAL,NYG,True,24,DAL,True,10
9,1,DEN,LAC,True,18,DEN,True,11
10,1,DET,ARI,True,2,DET,True,12
11,1,GB,SEA,True,29,GB,True,13

In [19]:
len(nfl_csv_df[nfl_csv_df['home'] == True])

288

In [21]:
newDf = pd.DataFrame()

In [27]:
for row in nfl_csv_df.iterrows():
    newDf.append(list(row))

In [28]:
newDf.head()

Empty DataFrame
Columns: []
Index: []