In [9]:
# goal of this python notebook is to explore schedule data
# with csv containing nfl 2017 schedule data

In [10]:
# Dependencies
import pandas as pd
import numpy as np

In [11]:
# where is CSV
nfl_csv = "csvs/nfl-schedule-2017.csv"

In [35]:
# Read with pandas
nfl_csv_df = pd.read_csv(new_coders, encoding="iso-8859-1", low_memory="False")
nfl_csv_df.head()

   week team1 team2   home
0     1   ARI   DET  False
1     2   ARI   IND  False
2     3   ARI   DAL   True
3     4   ARI    SF   True
4     5   ARI   PHI  False

In [14]:
# explore columns
nfl_csv_df.columns

Index(['week', 'team1', 'team2', 'home'], dtype='object')

In [16]:
# how many games do we have?
len(nfl_csv_df)

544

In [19]:
#number of games including bye weeks
# num of teams * total weeks
32*17

544

In [20]:
#number of games not including bye weeks
# num of teams * (total weeks - 1 bye week)
32*16

512

In [34]:
# teams play each other so it's more like 
# num of teams / 2 * (total weeks - 1 bye week)
32/2*16

256.0

In [29]:
nfl_csv_df['week'].value_counts()

17    32
8     32
2     32
3     32
4     32
5     32
6     32
7     32
9     32
16    32
10    32
11    32
12    32
13    32
14    32
15    32
1     32
Name: week, dtype: int64

In [31]:
nfl_csv_df['team1'].value_counts()

NYG    17
CHI    17
SEA    17
CLE    17
JAC    17
HOU    17
CIN    17
NO     17
PIT    17
DET    17
GB     17
OAK    17
PHI    17
KC     17
NE     17
DEN    17
TEN    17
SF     17
MIA    17
BUF    17
IND    17
CAR    17
ATL    17
NYJ    17
DAL    17
MIN    17
BAL    17
WAS    17
TB     17
LAC    17
ARI    17
LAR    17
Name: team1, dtype: int64

In [37]:
# list duplicate rows
# row_1_week = row_2_week AND row_1_team = row_2_team

In [42]:
weeks = range(1,18)
list(weeks)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [61]:
only_week_1_booleans = nfl_csv_df['week'] == 1
only_week_1_df = nfl_csv_df[only_week_1_booleans]
len(only_week_1_df)

32

In [75]:
only_week_1_df.head()

    week team1 team2   home  exist
0      1   ARI   DET  False  False
17     1   ATL   CHI  False  False
34     1   BAL   CIN  False  False
51     1   BUF   NYJ   True  False
68     1   CAR    SF  False  False

In [76]:
# initialize a new dataframe
scheduleFixed = pd.DataFrame()

In [77]:
scheduleFixed.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
# loop over old df add to new df but only if (old df's week is not in new df) AND (old df's team1 is not in team2) OR (old df's team2 is not in team1)
#for (i,x in nfl_csv_df.)